
.uploadBox{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.uploadWrapBox{
    position: relative;
}

.iconStyle {
    font-size: 12rem !important;
    color: #4b9cee;
    cursor: pointer;

}

